
- L'image ne doit pas comprendre de personnages, uniquement des silhouettes ou des ombres.
- Génère une image illustrant le résumé du livre suivant:

{{ .Story }}

- L'image devrait s'inspirer des éléments narratifs suivant:

{{ .FirstPage }}