- Génère une image illustrant le résumé du livre suivant:

{{ .Story }}

- L'image ne doit pas comprendre de texte.
- Le titre du livre est "{{ .Title }}".
- L'image doit être intriguante et donner envie de lire le livre.
- L'image ne doit pas comprendre de personnages.
- Voici le contenu de la première page du livre, inspire toi en:

{{ .FirstPage }}