.book-cover {
  padding-bottom: 2em;
  padding-top: 25%;
  aspect-ratio: 3/4;
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  border: 2px solid transparent;
}

.book-cover:hover {
  border: 2px solid #589ef97d;
}

.book-cover .book-cover-text {
  background-color: rgba(33, 33, 33, 0.5);
}
